<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelexecution.xmof.diagram.DecorationProvider">
      <decoratorProvider
            decoratorProviderClass="org.modelexecution.xmof.animation.graphiti.decorator.NodeDecoratorProvider">
      </decoratorProvider>
   </extension>
   <extension
         point="org.modelexecution.xmof.animationProvider">
      <animationProvider
            animationProviderClass="org.modelexecution.xmof.animation.graphiti.provider.GraphitiAnimationProvider">
      </animationProvider>
   </extension>

</plugin>
