<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.design">
         <newWizardShortcut
               id="xmofxdsml.presentation.XmofxdsmlModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xmof_xdsml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xmofxdsml.presentation.XmofxdsmlModelWizardID"
            name="%_UI_XmofxdsmlModelWizard_label"
            class="xmofxdsml.presentation.XmofxdsmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XmofxdsmlModelFile.gif">
         <description>%_UI_XmofxdsmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xmof_xdsml -->
      <editor
            id="xmofxdsml.presentation.XmofxdsmlEditorID"
            name="%_UI_XmofxdsmlEditor_label"
            icon="icons/full/obj16/XmofxdsmlModelFile.gif"
            extensions="xdsml"
            class="xmofxdsml.presentation.XmofxdsmlEditor"
            contributorClass="xmofxdsml.presentation.XmofxdsmlActionBarContributor">
      </editor>
   </extension>

</plugin>
