<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.modelexecution.examples.Fuml" xdsmlFilePath="/org.modelexecution.xmof.examples.fuml.xdsml/src/org/modelexecution/xmof/examples/fuml.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.modelexecution.examples.FumlMT" uri="http://org.modelexecution.examples.fumlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.modelexecution.examples.FumlMT" id="org.modelexecution.examples.Fuml" uri="http://www.eclipse.org/uml2/5.0.0/UML" />
  </extension>
</plugin>
