<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.modelexecution.examples.FumlFewSteps" xdsmlFilePath="/org.modelexecution.xmof.examples.fuml.xdsml/src/org/modelexecution/xmof/examples/fuml.melange" />
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.modelexecution.examples.Fuml" xdsmlFilePath="/org.modelexecution.xmof.examples.fuml.xdsml/src/org/modelexecution/xmof/examples/fuml.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.modelexecution.examples.FumlMT" uri="http://fumlmt/" />
    <modeltype id="org.modelexecution.examples.FumlFewStepsMT" uri="http://fumlfewstepsmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.modelexecution.examples.FumlMT" id="org.modelexecution.examples.Fuml" uri="http://www.eclipse.org/uml2/5.0.0/UML">
      <adapter class="org.modelexecution.examples.fuml.adapters.fumlmt.FumlAdapter" modeltypeId="org.modelexecution.examples.FumlMT" />
    </language>
    <language aspects="" entryPoints="" exactType="org.modelexecution.examples.FumlFewStepsMT" id="org.modelexecution.examples.FumlFewSteps" uri="http://www.eclipse.org/uml2/5.0.0/UML">
      <adapter class="org.modelexecution.examples.fumlfewsteps.adapters.fumlfewstepsmt.FumlFewStepsAdapter" modeltypeId="org.modelexecution.examples.FumlFewStepsMT" />
    </language>
  </extension>
</plugin>
