<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinet2.xmof -->
      <package
            uri="http://petrinet2/1.0/configuration"
            class="petrinet2Configuration.Petrinet2ConfigurationPackage"
            genModel="model-gen/petrinet2.genmodel"/>
   </extension>

</plugin>
