<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.modelexecution.xmof.examples.iml.presentation.ImlModelWizardID"
            name="%_UI_ImlModelWizard_label"
            class="org.modelexecution.xmof.examples.iml.presentation.ImlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ImlModelFile.gif">
         <description>%_UI_ImlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IML -->
      <editor
            id="org.modelexecution.xmof.examples.iml.presentation.ImlEditorID"
            name="%_UI_ImlEditor_label"
            icon="icons/full/obj16/ImlModelFile.gif"
            extensions="iml"
            class="org.modelexecution.xmof.examples.iml.presentation.ImlEditor"
            contributorClass="org.modelexecution.xmof.examples.iml.presentation.ImlActionBarContributor">
      </editor>
   </extension>

</plugin>
