<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
      <XDSML_Definition
            modelLoader_class="TestLoader"
            name="test"
            xdsmlFilePath="/org.xmof.example.xdsml/My.xdsml">
      </XDSML_Definition>
   </extension>
   <extension
         point="org.xmof.xdsml">
      <XDSML_Definition
            modelLoader_class="TestLoader"
            name="petrinet2"
            xdsmlFilePath="/org.xmof.example.xdsml/petrinet2.xdsml">
      </XDSML_Definition>
   </extension>

</plugin>
