<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelexecution.xmof.animationProvider" name="xMOF Representation Animation Provider" schema="schema/org.modelexecution.xmof.AnimationProvider.exsd"/>
   <extension
         id="org.modelexecution.xmof.addongroup"
         name="xMOF Addons"
         point="org.gemoc.gemoc_language_workbench.engine_addon_group">
      <AddonGroup
            Name="xMOF Addons"
            id="org.modelexecution.xmof.addongroup">
      </AddonGroup>
   </extension>
   <extension
         id="org.modelexecution.animationaddon"
         name="xMOF ModelAnimator"
         point="org.gemoc.gemoc_language_workbench.engine_addon">
      <Addon
            AddonGroupId="org.modelexecution.xmof.addongroup"
            Class="org.modelexecution.xmof.animation.core.addon.ModelAnimator"
            Name="xMOF Semantic ModelAnimator"
            ShortDescription="Addon for semantic xMOF language debugging"
            id="org.modelexecution.xmof.animation.core.addon.ModelAnimator">
      </Addon>
   </extension>


</plugin>
