<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.modelexecution.xmof"
            class="org.modelexecution.xmof.gemoc.ui.wizards.XMOFAnimatiorProjectWizard"
            hasPages="true"
            id="org.modelexecution.xmof.gemoc.ui.XmofSiriusProjectWizard"
            name="xMOF GEMOC Sirius Animation Project"
            project="true">
         <description>
            Create a new Sirius Specification Project which is tailored for the use as an Debug/Animation representation for xMOF lanugages.
         </description>
      </wizard>
   </extension>

</plugin>
