<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.modelexecution.xmof"
            class="org.modelexecution.xmof.gemoc.extension.sirius.wizards.XMOFAnimatiorProjectWizard"
            hasPages="true"
            id="org.modelexecution.xmof.gemoc.ui.XmofSiriusProjectWizard"
            name="xMOF Debug/Animation Viewpoint Specification"
            project="false">
         <description>
            Create a debug/animation representation for a xMOF GEMOC language. May create a new project, or modify or extend an existing Viewpoint Specification.
         </description>
      </wizard>
     
     
   </extension>

</plugin>
