<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.modelexecution.xmof"
            class="org.modelexecution.xmof.gemoc.extension.sirius.wizards.XMOFAnimatiorProjectWizard"
            hasPages="true"
            icon="icons/xmof-16.png"
            id="org.modelexecution.xmof.gemoc.ui.XmofSiriusProjectWizard"
            name="xMOF Debug/Animation Viewpoint Specification"
            project="false">
         <description>
            Create a debug/animation representation for a xMOF GEMOC language. May create a new project, or modify or extend an existing Viewpoint Specification.
         </description>
      </wizard>
     
     
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.sirius.editor.editorPlugin.SiriusEditorID">
         <menu
               icon="icons/xmof-16.png"
               id="xmof"
               label="xMOF">
            <command
                  commandId="org.gemoc.gemoc_language_workbench.extensions.sirius.addDebugLayer"
                  icon="icons/IconeGemocLanguage-16.png"
                  label="Add debug layer"
                  style="push"
                  tooltip="Add a debug layer to the selected diagram description">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.sirius.diagram.description.DiagramDescription">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.modelexecution.xmof.gemoc.extension.sirius.AddAnimationLayer"
                  icon="icons/IconeGemocLanguage-16.png"
                  label="Add animation layer"
                  style="push"
                  tooltip="Add an xMOF animation layer to the selected diagram description">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.sirius.diagram.description.DiagramDescription">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.modelexecution.xmof.gemoc.extension.sirius.command.AddAnimationLayerHandler"
            id="org.modelexecution.xmof.gemoc.extension.sirius.AddAnimationLayer"
            name="addAnimationLayer">
      </command>
   </extension>

</plugin>
