<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinet.xmof -->
      <package
            uri="http://petrinet/1.0/configuration"
            class="petrinetConfiguration.PetrinetConfigurationPackage"
            genModel="model-gen/petrinet.genmodel"/>
   </extension>

</plugin>
