<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.xmof.execution.xdsml.ide.ui.category2"
            name="XMOF">
      </category>
      <wizard
            category="org.xmof.execution.xdsml.ide.ui.category2"
            class="org.xmof.execution.xdsml.ide.ui.wizards.CreateNEWGemocXMOFLanguageProject"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.design"
            id="org.xmof.execution.xdsml.ide.ui.CreateNewGemocXMOFLanguageProject"
            name="GEMOC XMOF xDSML Project"
            project="true">
      </wizard>
   </extension>

</plugin>
