<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated petrinetConfigurationTrace -->
    <package uri="petrinetConfigurationTrace" class="petrinetConfigurationTrace.PetrinetConfigurationTracePackage" genModel="model/petrinetConfigurationTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated petrinetConfigurationTrace -->
    <package uri="petrinetConfigurationTrace_Steps" class="petrinetConfigurationTrace.Steps.StepsPackage" genModel="model/petrinetConfigurationTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated petrinetConfigurationTrace -->
    <package uri="petrinetConfigurationTrace_States" class="petrinetConfigurationTrace.States.StatesPackage" genModel="model/petrinetConfigurationTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated petrinetConfigurationTrace -->
    <package uri="petrinetConfigurationTrace_petrinetConfiguration" class="petrinetConfigurationTrace.States.petrinetConfiguration.PetrinetConfigurationPackage" genModel="model/petrinetConfigurationTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.modelexecution.xmof.examples.petrinet.trace.tracemanager.PetrinetConfigurationTraceEngineAddon" Default="false" id="org.modelexecution.xmof.examples.petrinet.trace" Name="petrinetConfiguration MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to petrinetConfiguration language" openViewIds="org.eclipse.gemoc.sequential_addons.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
