<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configurationFewSteps"
            class="fumlConfigurationFewSteps.FumlConfigurationFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/lociFewSteps"
            class="fumlConfigurationFewSteps.LociFewSteps.LociFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/classes/kernelFewSteps"
            class="fumlConfigurationFewSteps.ClassesFewSteps.KernelFewSteps.KernelFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/commonbehaviors/basicbehaviorsFewSteps"
            class="fumlConfigurationFewSteps.CommonBehaviorsFewSteps.BasicBehaviorsFewSteps.BasicBehaviorsFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/primitivebehaviors/integerfunctionsFewSteps"
            class="fumlConfigurationFewSteps.PrimitiveBehaviorsFewSteps.IntegerFunctionsFewSteps.IntegerFunctionsFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/activities/intermediateactivitiesFewSteps"
            class="fumlConfigurationFewSteps.ActivitiesFewSteps.IntermediateActivitiesFewSteps.IntermediateActivitiesFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/actions/basicactionsFewSteps"
            class="fumlConfigurationFewSteps.ActionsFewSteps.BasicActionsFewSteps.BasicActionsFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/actions/intermediateactionsFewSteps"
            class="fumlConfigurationFewSteps.ActionsFewSteps.IntermediateActionsFewSteps.IntermediateActionsFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fuml.xmof -->
      <package
            uri="http://www.modelexecution.org/xmof/example/fuml/configuration/inputFewSteps"
            class="fumlConfigurationFewSteps.InputFewSteps.InputFewStepsPackage"
            genModel="model-gen/fuml.xmof.genmodel"/>
   </extension>

</plugin>
