<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsm -->
      <package
            uri="http://www.modelexecution.org/fsm/configuration"
            class="fsmConfiguration.FsmConfigurationPackage"
            genModel="model-gen/fsm.genmodel"/>
   </extension>

</plugin>
