<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IML -->
      <package
            uri="http://cdlflex.tuwien.ac.at"
            class="iml.ImlPackage"
            genModel="model/IML.genmodel"/>
   </extension>

</plugin>
