<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xmof.xdsml">
      <XDSML_Definition
            modelLoader_class="PetrinetLoader"
            name="petrinet1"
            xdsmlFilePath="/org.xmof.example.petrinet1.xdsml/petrinet1.xdsml">
      </XDSML_Definition>
   </extension>

</plugin>
