<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinet2 -->
      <package
            uri="http://petrinet2/1.0"
            class="petrinet2.Petrinet2Package"
            genModel="model/petrinet2.genmodel"/>
   </extension>

</plugin>
