<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace" class="fumlConfigurationFewStepsTrace.FumlConfigurationFewStepsTracePackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace_Steps" class="fumlConfigurationFewStepsTrace.Steps.StepsPackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace_States" class="fumlConfigurationFewStepsTrace.States.StatesPackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace_LociFewSteps" class="fumlConfigurationFewStepsTrace.States.fumlConfigurationFewSteps.LociFewSteps.LociFewStepsPackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace_IntermediateActivitiesFewSteps" class="fumlConfigurationFewStepsTrace.States.fumlConfigurationFewSteps.ActivitiesFewSteps.IntermediateActivitiesFewSteps.IntermediateActivitiesFewStepsPackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fumlConfigurationFewStepsTrace -->
    <package uri="fumlConfigurationFewStepsTrace_BasicActionsFewSteps" class="fumlConfigurationFewStepsTrace.States.fumlConfigurationFewSteps.ActionsFewSteps.BasicActionsFewSteps.BasicActionsFewStepsPackage" genModel="model/fumlConfigurationFewStepsTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.modelexecution.xmof.examples.fuml.fumlfewsteps.trace.tracemanager.FumlConfigurationFewStepsTraceEngineAddon" Default="false" id="org.modelexecution.xmof.examples.fuml.fumlfewsteps.trace" Name="fumlConfigurationFewSteps MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to fumlConfigurationFewSteps language" openViewIds="org.eclipse.gemoc.sequential_addons.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" />
  </extension>
</plugin>
