<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IML -->
      <package
            uri="http://iml/1.0"
            class="org.modelexecution.xmof.examples.iml.ImlPackage"
            genModel="model/IML.genmodel"/>
   </extension>

</plugin>
